.experiences {
  margin-bottom: 180px;

  .about-experiences-posts {
    margin-top: 5%;

    .experiences-title {
      font-family: mySecondFont, myThirdFont;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 2px;
    }

    .border-bottom-two {
      width: 255px;
      height: 2px;
      background-color: #000;
      margin-bottom: 3%;
    }

    .experience-box {
      max-width: 722px;
      display: flex;
      position: relative;
      margin-bottom: 30px;
      display: flex;
      position: relative;

      .experience-content {
        max-width: $content-width;
        margin-left: 12%;

        button {
          @include site-button;
          border-style: none;
        }
      }
    }
  }
}

// media query that breaks at
@media all and (max-width: 800px) {
  .experiences {
    text-align: center;
    flex-direction: column;

    .about-experiences-posts {
      .border-bottom-two {
        margin: 0 auto;
        margin-bottom: 3%;
      }
      .experience-box {
        flex-direction: column;

        img {
          margin: 0 auto;
        }

        .experience-content {
          margin-left: 0;
        }
      }
    }
  }
}
